* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.p {
    color: rgb(85, 85, 85);
}

.body-1 {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    display: grid;
     grid-template-columns: auto;
    justify-content: center;
}

/* @media only screen and (min-width: 1200px) {
    .skill {
        height: fit-content;
    }
        }
    .bg-img,
    .text-container{
        display: grid;
    grid-template-columns: 1fr;
    }
    min-height: fit-content;
    display: flex;
    justify-content: center;
} */

@media only screen and (min-width: 500px) {
    .body-1 {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        justify-content: center;
    }
}


.text-container {
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}

.bg-img {
    display: flex;
    height: 600px;
    width: 600px;
    margin: auto 0;
}

.text-container {
    align-self: center;
    text-align: center;
}

.sec-text-p1 {
    font-weight: 600;
    text-align: center;
}

.sec-text-p2 {
    font: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    font-weight: 3rem;
}

.social-container {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
}

.social-container a {
    text-decoration: none;
    color: black;
    display: flex;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.img-logo {
    height: 2rem;
    width: 2rem;
}

.social-container span {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: rgb(85, 85, 85);
    ;
    border: blue;
}

.aam {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    border-color: black;
    padding-bottom: 50px;

}
#about{
    display: flex;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: aliceblue;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-me h2 {
    gap: 4rem;
    font-weight: 600;
    padding-right: 70px;
    text-align: center;
}

.btn {
    background-color: rgb(25, 25, 25);
    font-size: 12px;
    padding-top: 40px;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: rgb(25, 25, 25);
    color: white;
}

.skill {
    background-color: rgb(105, 105, 105);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 32px 64px;
}

.upper {
    text-align: center;
}

.upper h1 {
    font-weight: 100;
    height: 100px;
}

.part-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    .part-2 {
        flex-direction: column;
    }
}


.focus ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.focus ul span {
    display: block;
}


.progress {
    height: 100px;
    padding-top: 50px;
    width: 400px;
    background-color: rgb(105, 105, 105);
    line-height: 2px;
    padding-top: 50px;
    border-color: 2px solid black;
}

.grid-container {
    display: grid;

    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    padding: 50px 100px 30px;
}


@media only screen and (min-width: 500px) {
    .body-1{
        flex-direction: column;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
        align-items: center;
        justify-content: center;
    }
}

.grid-item-2 {
    background-color: rgb(85, 85, 85);
    border: 15px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 50px 50px;
}

.grid-item-1 {
    background-color: rgb(50, 50, 50);
    border: 15px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    padding: 50px 50px;   
}
.grid-item-1 a{
    text-decoration: none;
}

.txt-1 {
    line-height: 200px;
    font-weight: 900;
    padding-left: 80px;
    padding-top: 70px;
}

.social-container a {
    justify-content: center;
}

.btn-container {
    justify-content: space-between;
}

.grid-container a {
    color: white;
}

.grid-item-2 a {
    text-decoration: none;
}

.section__text__p1 {
    text-align: center;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 50px;
    background-color: aqua;
}

.i {
    justify-content: center;
}

.contact-info-container a {
    text-decoration: none;
    align-items: center;
    color: black;
}

.contact-info-container p {
    justify-content: center;
}

.contact-info-upper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}


.contact-info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: solid 1px black;
    border-radius: 9999px;
    padding: 12px;
    width: fit-content;
    height: fit-content;
    background-color: grey;
}

.contact-info_wrapper div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.email-icon,
.linkedin-icon {
    display: block;
    width: 12px;
    height: 12px;
}

.email-link,
.linkedin-link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.html{
    background-color: white;
}
.progress{
    background-color: aliceblue;
}
#projects {
    text-align: center;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 10px solid black;
    &p{
        padding-bottom: 50px;
    }
}
.progress-bar progress-bar{
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}
.copy{
padding-top: 20px;
}
.l-foot{
text-align: center;
}
.footer{
    background-color: rgb(200, 200, 200);
}
 .l-foot.h4{
    color: blueviolet;
}

/* HERO  */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
}

@media only screen and (max-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-second_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-pic_wrapper {
    width: 300px;
    height: auto;
}

#abomedia only screen and (min-width: 1200px) {
    .profile-pic_wrapper {
        width: 500px;
    }
}

.profile-pic {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.hero-text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-weight: 700;
}

.hero-text_wrapper :first-child {
    font-weight: 400;
}

.hero-text_wrapper :last-child {
    font-weight: 500;
}

.hero-button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button_link {
    display: block;
}

.button_link button {
    padding: 10px 20px;
    border-radius: 9999px;
}

.button-one {
background-color: rgb(255, 255, 255);
border: 10px solid black;
}

.button-two {
    background-color: rgb(105, 105, 105);
    color: white;
    border: 10px solid red;
}

.hero-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-socials .fa-linkedin, .hero-socials .fa-github {
    font-size: 32px;
}

@media only screen and (max-width: 1200px) {
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 450px) {
    .skill {
        display: flex;
        flex-direction: column;
    }
}
.my-skills{
    background-color: aquamarine;
    
}
.h1-skills{
   font-weight: 900;
   text-align: center;
}
.my-progress{
    background-color: aqua;
}
.contact-info_wrapper .i .a{
    gap: 10px;
}
.fa-solid fa-envelope email-icon{
    gap: 5px;
}
.sec-foot a{
gap: 5px;
}




@media only screen and (min-width:500px){
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width:500px){
  #project{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
  }  
}
@media screen only and(max-width:400px){
    .txt-1{
        align-items:center;
        justify-content:center;
    }
}

@media only screen and(min-width:500){
    #about{
display: grid;
grid-template-columns: 1fr ifr;
    }
}
@media only screen and (min-width:500px) {
    .grid-container{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:300px){
    #projects{
justify-content: center;
align-items: center;
    }
}

